# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java
5. C
6. C++
7. Scala
8. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. Seaborn
6. SciPy
7. NLTK

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Spark              |

### Below are a few examples of evaluating arithmetic expressions in Python.

* `3 + 5` evaluates to **8**
* `10 - 4` evaluates to **6**
* `4 * 2` evaluates to **8**
* `16 / 2` evaluates to **8.0**
* `5 ** 2` evaluates to **25**
* `10 % 3` evaluates to **1**

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create and format markdown cells in Jupyter
- Perform arithmetic operations using code cells

## Author  
ATAKAN ACIBAL